  /* * { 
     border: solid 1px; 
 }   */


 .cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card{

    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto 24px;
    position: relative;
    width: 1440px;
    height: 3540px;
    background: var(--plomo);
    border-radius: 8px;
}
.hero-seation{  
    width: 1440px;
    height: 832px;
    padding: 35px 0px 0px 0px;
}
.menu-container{
    width: 1170px;
    height: 38px; 
    padding: 0px 135px 43px 135px;
    display: flex;
    align-items: center;
    text-align: center;  
    
}
.menu-left{
    position: absolute;
    width: 99px;
    height: 29px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FE4A51;
    
}
.menu-center{
    display: flex;
    align-items: center;
    text-align: center;
}
.menu-center-home{
    position: absolute;
    width: 54px;
    height: 24px;
    font-family: var(--fontdos);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #2D2D2D;
    padding: 7px 51px 7px 282px;  
}
.menu-center-recipes{
    position: absolute;
    width: 69px;
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #2D2D2D;
    padding: 7px 51px 7px 387px;
}
.menu-center-Pages{
    position: absolute;
    width: 52px;
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #2D2D2D;
    padding: 7px 51px 7px 507px;
}
.menu-center-AboutMe{
    position: absolute;
    width: 88px;
    height: 24px;
    font-family: var(--fontdos);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #2D2D2D;
    padding: 7px 51px 7px 610px;
}
.menu-center-Blog{
    position: absolute;
    width: 40px;
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #2D2D2D;
    padding: 7px 51px 7px 749px;
}
.menu-center-Contact{
    position: absolute;
    width: 71px;
    height: 24px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #2D2D2D;
    padding: 7px 51px 7px 840px;
}
.menu-right{
    padding: 0px 0px 0px 1035px;
}
#lupa{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1183px;
    top: 46px;
    z-index: 10;
    
}
.rectangulo{
    position: absolute;
    width: 135px;
    height: 38px;
    left: 1170px;
    top: 35px;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}
.rectangulo-text{
    position: absolute;
    width: 82px;
    height: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #2D2D2D;
    padding: 13px 13px 13px 40px;
}
.card-Backgroud-Image{
    width: 1440px;
    height: 636px;
    position: relative;
    display: inline-block;
}
.content-image-center{
    width: 529px;
    height: 264px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 128px 455px 244px 456px;
    transform: translate(-50%, -50%);
    color: var(--white);
}
.card-texto{
    position: absolute;
    width: 529px;
    height: 146px;
    font-family: var(--fontuno);
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 100.9%;
    text-align: center;
    color: var(--white);
}
.card-tree-dates{
    position: absolute;
    width: 341px;
    height: 16px;
    padding: 178px 94px 70px 94px;
    display: flex;
    align-items: center;
    
}
.card-view-recipes{
    position: absolute;
    width: 124px;
    height: 38px;
    padding: 226px 203px 0px 202px;
}
.texto-view-recipes{
    position: absolute;
    width: 82px;
    height: 14px;
    font-family: Lato;
    font-weight: 500;
    font-size: 14px;
    line-height: 100.9%;
    padding: 12px 21px 12px 21px;
    background-color: var(--red);
    color: var(--white);
}
.restaurant{
    width: 16px;
    height: 16px;
    padding: 1px 6px 1px 0px;
}
.restaurant-text{
    position: absolute;
    width: 68px;
    height: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100.9%;
    color:var(--white);
    padding: 1px 38.33px 1px 22px;
    flex-direction: column;
}
.clock{
    width: 16px;
    height: 16px;
    padding: 1.33px 7.33px 1.33px 100.33px;
}
.clock-text{
    position: absolute;
    width: 64px;
    height: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100.9%;
    color:var(--white);
    padding: 1px 39px 1px 149px;
    flex-direction: column;

}
.user{
    width: 16px;
    height: 16px;
    padding: 1px 8px 1px 100px;
}
.user-text{
    position: absolute;
    width: 69px;
    height: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100.9%;
    color:var(--white);
    padding: 1px 0px 0px 272px;
    flex-direction: column;
}

.imguno{
    position: absolute;
    width: 285px;
    height: 230px;
    left: 135px;
    top: 627px;
}
.imgdos{
    position: absolute;
    width: 285px;
    height: 230px;
    left: 430px;
    top: 627px;
}
.imgtres{
    position: absolute;
    width: 285px;
    height: 230px;
    left: 725px;
    top: 627px;
}
.imgcuatro{
    position: absolute;
    width: 285px;
    height: 230px;
    left: 1020px;
    top: 627px;
}