/**{
    padding: 0%;
    border: 2px solid red;
}
.rectangulo-text{
    border: 2px solid red;
}*/
.follow_me--image{
    position: absolute;
width: 1440px;
height: 255px;
left: 0px;
top: 2894px;
}
.instagram{
    position: absolute;
    width: 138px;
    height: 138px;
    left: 650px;
    top: 59px;
    
    background:  #2d2d2d00;
    z-index: 2;
}
.contenedor__imagenes{
position: absolute;
width: 1440px;
height: 255px;
left: 0px;
top: 0px;
}