:root{
    --red:#EB5757;
    --green:#219653;
    --green-difuminado:rgba(36, 151, 86, 0.2);
    --blue:#2F80ED;
    --blue-difuminado:rgba(47, 128, 237, 0.2);
    --purple:#9B51E0;
    --purple-difuminado:rgba(155, 81, 224, 0.2);
    --white:#FFFFFF;
    --plomo:#E5E5E5;
    --text-black:#2F2F2F;
    --text-gray:#888888;
    --fontuno: Playfair Display;
    --fontdos: Lato;
}

body,html{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background-color: var(--plomo);
}
